*.o
sop-backup
.vscode/
main
tempCodeRunner*
Makefile
a/
c/
d/
e/
v/
x/
test
k/aaa
k/alfa
k/kupa
k/link_in
k/link_out
k/pierdaken
k/sraka
k/b/a
k/b/kupen
l/aaa
l/alfa
l/kupa
l/kupen
l/link_in
l/link_out
l/sraka
l/b/a
l/b/kaka
l/b/pierdaken

